/* include tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    display: flex;
    width: 10vw;
    justify-content: center;
    margin: .5rem;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-between;
}

.header h1 {
    display: flex;
    font-size: 3rem;
}

.header h2 {
    font-size: 1.5rem;
}

.header h2:hover, nav a:hover {
    background-color: #555;
}

.left-nav {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}