/* include tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}

nav {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: .5rem;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
}

.logo {
    /* logo will now shrink proportionately */
    object-fit: contain;
    height: 150px;
    width: 150px;
}

.header {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color: white;
    justify-content: space-between;
}

.header h1 {
    display: flex;
    font-size: 3rem;
}

.header h2 {
    font-size: 1.5rem;
}

.header h2:hover, nav a:hover {
    background-color: #555;
}

.left-nav {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}

.about {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    max-height: 100%;
    justify-content: space-between;
}

.mission {
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: space-between;
}

.mission h2 {
    font-size: 2rem;
}

.mission p {
    font-size: 1.5rem;
}

.contributors ul{
    display: flex;
    width: 25vw;
    justify-content: space-between;
}